

p.note, blockquote.note,
p.warning, blockquote.warning,
p.highlight, blockquote.highlight,
p.idea, blockquote.idea {
  background: rgba(255, 235, 130, 0.2);
  border-left: 4px solid #e7af06;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}

blockquote.note > p:last-child,
blockquote.warning > p:last-child,
blockquote.hightlight > p:last-child,
blockquote.idea > p:last-child {
  margin-bottom: 0;
}
blockquote.note > p:first-child,
blockquote.warning > p:first-child,
blockquote.hightlight > p:first-child,
blockquote.idea > p:first-child {
  margin-top: 0;
}

p.note, blockquote.note {
  background: rgba(114, 83, 237, 0.2);
  border-left: 4px solid #381885;
}
p.warning, blockquote.warning {
  background: rgba(247, 126, 126, 0.2);
  border-left: 4px solid #dd2e2e;
}

p.warning::before, blockquote.warning::before,
p.note::before, blockquote.note::before,
p.idea::before, blockquote.idea::before {
  font-weight: normal;
  font-family: FontAwesome;
  float: left;
  font-size: 2.2em;
  line-height: 1em;
  margin-right: 0.3em;
  margin-top: -0.1em;
}

p.note::before, blockquote.note::before {
  content: "\f10d";
  color: #381885;
}

p.warning::before, blockquote.warning::before {
  content: "\f071";
  color: #dd2e2e;
}

p.idea::before, blockquote.idea::before {
  content: "\f0eb";
  color: #e7af06;
}

.center {
  text-align: center;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}