{%- assign root_pages = sorted_pages 
  | where_exp: "item", "item.parent == nil"
  | where_exp: "item", "item.title != nil"
  | where_exp: "item", "item.nav_exclude != true" -%}
{%- assign children_pages = sorted_pages 
  | where: "parent", page.parent
  | where_exp: "item", "item.title != nil"
  | where_exp: "item", "item.nav_exclude != true" -%}

<h2>
  sorted
</h2>
<ul>
{%- for item in sorted_pages -%}
  <li>{{ item.nav_order }} - {{ item.title }} - {{ item.url }} - {{ item.parent }}</li>
{%- endfor -%}
</ul>

<h2>
  children
</h2>
<ul>
{%- for item in children_pages -%}
  <li>{{ item.nav_order }} - {{ item.title }} - {{ item.url }} - {{ item.parent }}</li>
{%- endfor -%}
</ul>
<h2>
  root
</h2>
<ul>
{%- for item in root_pages -%}
  <li>{{ item.nav_order }} - {{ item.title }} - {{ item.url }} - {{ item.parent }}</li>
{%- endfor -%}
</ul>


{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}