.main-content h2 {
  float: left;
  margin: 0;
  font-size: 1em!important;
  padding: 0 0.5em 0 0;
  line-height: inherit;
}
.main-content h2:before {
  content: "[";
}
.main-content h2:after {
  content: "] - ";
}